<h1> Today's Blogs  </h1>

<h2> <%= @blog.title %> </h2>
<p> <%= @blog.content %> </p>

<h4> <%= link_to 'Back Home', blogs_path %> </h4>
<h4> <%= link_to 'Delete Blog', delete_path(@blog), method: :delete, data: {confirm: 'Are you sure you want to delete this blog?'} %> </h4>
